.container {
  width: 46rem;
  height: 4.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-300);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.checkAndContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.75rem;
}

.checkAndContent p {
  margin: 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--gray-200);
}

.checkbox {
  position: relative;
}

.checkbox label {
  display: flex;
  margin: 0;
}

.checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.090625rem;
  height: 1.090625rem;
  opacity: 0;
  cursor: pointer;
}

.checkbox label::before {
  content: '';
  width: 1.090625rem;
  height: 1.090625rem;
  border: 2px solid var(--blue-400);
  border-radius: 50%;
  cursor: pointer;
}

.checkbox input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.43059 0.342123L4.09865 4.67406L1.61618 2.19159L0.780273 3.0275L4.09865 6.34587L9.26649 1.17803L8.43059 0.342123Z' fill='%23F2F2F2'/%3E%3C/svg%3E%0A");
  background-color: var(--blue-300);
  border-color: var(--blue-300);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.75rem;
  background-position-y: 5px;
}

.container button {
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.5s;
}

.container button svg {
  font-size: 0.875rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: var(--gray-400);
}

.container button svg:hover {
  color: var(--red-100);
}

