.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
  max-width: 46rem;
  margin: 0 auto;
}

.tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5625rem;
}

.tasksCreated {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tasksCreated strong {
  font-weight: 700;
  font-family: "Inter";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: var(--blue-400);
}

.tasksCreated span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.1875rem;
  background: var(--gray-300);
  border-radius: 999px;
  color: var(--gray-100);
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
}

.completedTasks {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.completedTasks strong {
  font-weight: 700;
  font-family: "Inter";
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.0625rem;
  color: var(--blue-500);
}

.completedTasks span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.25rem;
  height: 1.1875rem;
  background: var(--gray-300);
  border-radius: 999px;
  color: var(--gray-100);
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  white-space: nowrap;
}

.inputAndButton {
  display: flex;
  margin-top: -1.625rem;
  margin-bottom: 4rem;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.nullAssignments {
  width: 100%;
  height: 15.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--gray-300)
}

.nullAssignments img {
  width: 3.5rem;
  height: 3.5rem;
  margin-bottom: 1rem;
}

.nullAssignments p {
  text-align: center;
  color: var(--gray-400);
  font-size: 1rem;
  font-weight: 1.4;
}