:root {
  --gray-700: #0d0d0d;
  --gray-600: #454545;
  --gray-500: #262626;
  --gray-400: #808080;
  --gray-300: #333333;
  --gray-200: #f2f2f2;
  --gray-100: #d9d9d9;

  --blue-600: #1e6f9f;
  --blue-500: #8284fa;
  --blue-400: #4ea8de;
  --blue-300: #5e60ce;

  --red-100: #f75a68;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-600);
  color: var(--gray-200);
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: "Inter";
  font-weight: 400;
  font-size: 0,875rem;
}